/* EmployeeDetailComponent's private CSS styles */
label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
    margin-left: .4em;
    border: none;
    border-radius: 5px;
  }
  button {
    margin-top: 20px;
    margin-right: 10px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  .border {
    padding: 10px 30px 10px 30px;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    background-color: hsl(0, 0%, 90%)
  }

  .details {
    margin: 50px;
  }

  .subheader {
    margin: -20px 0 0 30px
  }