h2 {
  margin: 0 1em;
}

input {
  border: none;
  border-radius: 5px;
}

.employees {
  margin: 1em 2em;
  list-style-type: none;
  padding: 0;
  width: 15em;
  max-height: 1000px;
  scroll-behavior: auto;
}
.employees li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  margin: .5em auto;
}

.employees li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.employees a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.employees a:hover {
  color:#c5d4dc;
}

.employees .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: left;
  margin-right: .8em;
  border-radius: 4px 4px 4px 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 235px;
  top: -32px;
  display: inline-block;
  background-color: gray !important;
  color: white;
}

.new-employee {
  margin: 0 20px;
}

.add {
  margin: 2px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 5px;
}

#addbutton {
  display: block;
  margin-right: 5px;
  margin-left: auto;
  margin-top: 5px
}