/* AppComponent's private CSS styles */
div {
  background-color: lightgray;
}

nav {
  padding: 10px;
  background: hsla(0, 0%, 0%, .6)
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.router {
  padding: 20px;
}

.messages {
  padding: 50px;
}