/* employeeSearch private styles */
.search-result li {
    border: none;
    border-radius: 5px;
    width: 195px;
    height: 16px;
    padding: 15px 15px;
    margin: 10px auto;
    background-color: hsl(200, 14%, 55%);
    cursor: pointer;
    list-style-type: none;
  }
  
  .search-result li:hover {
    background-color: #607D8B;
  }
  
  .search-result li a {
    color: white;
    display: block;
    text-decoration: none;
  }
  
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: white;
  }
  #search-box {
    width: 500px;
    height: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    display: block;
  }
  
  
  ul.search-result {
    padding-left: 0;
  }

  h2 {
    text-align: center;
  }